<!doctype html>
<html>
<%- include('parts/header', {title: 'Page not found / Celebs with COVID-19'}) %>

<body>
    <header class="header">
        <nav class="menu">
            <a class="menu-link" href="/">All diagnosed</a>
            <a class="menu-link" href="/cured/">Cured</a>

            <a class="menu-link menu-select" href="/suggest/">Add new</a>
        </nav>
    </header>

    <section class="message">
        <h1 class="message-title">Page not found</h1>
        <p class="message-text">Incorrect link. Try to use menu.</p>
    </section>

    <script src="/scripts/swiper.min.js"></script>
    <script src="/scripts/custom.min.js"></script>
</body>
</html>