$width-site: 64rem;

$color-text: #d5fe00;
$color-background: #142437;

$font-regular: "Monument Extended", sans-serif;


@font-face {
  font-family: "Monument Extended";
  src: url("/fonts/monument-extended-regular.woff2") format("woff2"),
  url("/fonts/monument-extended-regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Monument Extended";
  src: url("/fonts/monument-extended-bold.woff2") format("woff2"),
  url("/fonts/monument-extended-bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: block;
  position: relative;

  margin: 0;
  padding: 0;

  font: 400 16px/1.5 $font-regular;

  color: $color-text;
  background: $color-background;

  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

@import "layouts/*.scss";