.form {
  display: block;
  position: relative;

  width: $width-site;
  max-width: 100%;
  margin: 4rem auto;
  padding: 0 2rem;

  .form-item {
    display: block;
    position: relative;

    width: $width-site / 2;
    max-width: 100%;

    margin: 0 0 2rem;
    padding: 0;

    border: none;

    @media screen and (max-width: 767px) {
      margin-bottom: 1.5rem;
    }

    @media screen and (max-width: 479px) {
      margin-bottom: 1rem;
    }
  }

  .form-label {
    display: block;
    position: relative;

    margin-bottom: 0.25rem;

    @include scale;
  }

  .form-input {
    display: block;
    outline: none;

    width: 100%;
    padding: 0.75rem 1rem;

    color: $color-text;
    background: darken($color-background, 5);

    border: solid 1.5px darken($color-background, 20);
    border-radius: 0.25rem;

    @media screen and (max-width: 767px) {
      padding: 0.5rem 0.75rem;
    }

    @include scale;
  }

  .form-button {
    display: block;
    cursor: pointer;
    user-select: none;

    @include scale;
    @include button;
  }

  .form-status {
    display: none;
  }

  @media screen and (max-width: 767px) {
    margin: 4rem auto;
    padding: 0 1rem;
  }

  @media screen and (max-width: 479px) {
    margin: 2rem auto;
    padding: 0 0.75rem;
  }
}