.menu {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  position: relative;
  max-width: 100%;

  .menu-link {
    display: block;
    position: relative;

    margin-right: 2.5rem;
    line-height: 2.5;
    text-transform: uppercase;

    font-size: 1rem;
    font-weight: 500;
    font-family: $font-regular;

    &:after {
      content: '';

      position: absolute;
      bottom: -0.125rem;
      left: 0;

      width: 0;
      height: 0.25rem;
      opacity: 0;

      background: $color-text;
      border-radius: 0.25rem;

      transition: width 0.5s;
    }

    &:focus:after {
      opacity: 1;
      width: 2rem;
    }

    @media (hover: hover) {
      &:hover:after {
        opacity: 1;
        width: 2rem;
      }
    }

    @media screen and (max-width: 767px) {
      margin-right: 1.75rem;
      font-size: 0.9375rem;
    }

    @media screen and (max-width: 479px) {
      margin-right: 1.25rem;
      font-size: 0.8125rem;
    }

    @media screen and (max-width: 359px) {
      margin-right: 1rem;
      font-size: 0.75rem;
    }
  }

  .menu-current {
    &:after {
      opacity: 1;
      width: 2rem;
    }
  }

  .menu-select {
    display: block;

    padding: 0 1rem;
    line-height: 2.5;

    color: $color-background;
    background: $color-text;

    border: none;
    border-radius: 1.5rem;
    transition: background 0.5s;

    &[disabled] {
      cursor: not-allowed;
      pointer-events: none;
      background: darken($color-text, 20);
    }

    &:after {
      display: none;
    }

    &:hover {
      background: darken($color-text, 15);
    }

    &:focus {
      background: darken($color-text, 15);
    }

    @media screen and (max-width: 479px) {
      padding: 0 0.75rem;
    }

    @media screen and (max-width: 319px) {
      display: none;
    }
  }
}