@mixin scale {
  font-size: 1rem;
  font-weight: 500;
  font-family: $font-regular;

  text-transform: uppercase;

  @media screen and (max-width: 767px) {
    font-size: 0.875rem;
  }

  @media screen and (max-width: 767px) {
    font-size: 0.9375rem;
  }

  @media screen and (max-width: 479px) {
    font-size: 0.8125rem;
  }

  @media screen and (max-width: 359px) {
    font-size: 0.75rem;
  }
}