<footer class="footer">
    <a class="footer-button" href="<%= __('footer-link') %>" target="_blank" rel="noopener"><%= __('footer-button') %></a>

    <p class="footer-about">
        <%- __('footer-about') %>
    </p>
</footer>