<footer class="footer">
    <a class="footer-button" href="">Stay safe</a>

    <p class="footer-warning">
        Magazines, advertising, catwalk, video clips, instagram stories,
        social media, product development, campaigns — WE CAN DO IT ALL.
    </p>
</footer>