<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">

    <meta property="og:locale" content="en_US">
    <meta property="og:title" content="<%= title %>">
    <meta property="og:description" content="">
    <meta property="og:image" content="/images/snippet.png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">

    <link rel="icon" type="image/png" sizes="32x32" href="/images/icon-32.png">
    <link rel="icon" type="image/png" sizes="256x256" href="/images/icon-256.png">

    <link rel="stylesheet" href="/styles/swiper.min.css" type="text/css">
    <link rel="stylesheet" href="/styles/custom.min.css?v=<%= version %>" type="text/css">

    <title><%= title %></title>
</head>