<article class="swiper-slide">
    <div class="unit">
        <img class="unit-photo" src="/photo/putin.png" alt="">

        <div class="unit-content">
            <h4 class="unit-name">Vladimir Medvedenko</h4>
            <p class="unit-bio">Musician, Poland</p>

            <a class="unit-link" href="#" target="_blank">Check if he is OK</a>
        </div>

        <span class="unit-status unit-infected" title="Infected"></span>
    </div>
</article>